[submodule "themes/northendlab"]
	path = themes/northendlab
	url = https://github.com/themefisher/northendlab-hugo
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
